body {
    min-height: 100%;
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

html {
    height: 100%;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #5EC6C8;
}

.text-justified {
    text-align: justify;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    text-decoration: none;
}

a {
    color: #5EC6C8;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #5EC6C8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #5EC6C8;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #5EC6C8;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #5EC6C8;
    color: #fff;
    background-color: #5EC6C8;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #5EC6C8;
    background-color: #5EC6C8;
}

.btn-primary .badge {
    color: #5EC6C8;
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #5EC6C8;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #5EC6C8;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #5EC6C8;
    color: #fff;
    background-color: #5EC6C8;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #5EC6C8;
    background-color: #5EC6C8;
}

.btn-xl .badge {
    color: #5EC6C8;
    background-color: #fff;
}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand-mini {
    color: #333333;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active,
.navbar-default .navbar-brand-mini:hover,
.navbar-default .navbar-brand-mini:focus,
.navbar-default .navbar-brand-mini:active,
.navbar-default .navbar-brand-mini.active {
    color: #5EC6C8;
}

.navbar-default .navbar-nav>.active>a {
    color: #f7f7f7;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #5EC6C8;
    background-color: #5EC6C8;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #333333;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand-mini,
.navbar-default .navbar-brand-mini:focus {
    color: #333333;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #5EC6C8;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #333333;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #5EC6C8;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #f7f7f7;
    background-color: #5EC6C8;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #5EC6C8;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand, .navbar-brand>a,
    .navbar-default .navbar-brand-mini, .navbar-brand-mini>a {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #f7f7f7;
    }

    .navbar-default.navbar-shrink .navbar-brand,
    .navbar-default.navbar-shrink .navbar-brand-mini {
        font-size: 1.5em;
    }
}

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .slogan {
    margin-top: 16px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

header .intro-text .social {
    margin-top: 2em;
}

header .intro-text .social .social-icon {
    width: 42px;
    margin-right: 0.7em;
    text-decoration: none;
}

header .intro-text .social .social-link:hover {
    text-decoration: none;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

@media(max-width: 767px) {
    header .intro-text {
        padding-top: 200px;
        padding-bottom: 100px;
    }
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

.explanation {
    font-size: 1.8rem;
    text-align: justify;
}

#benefits .benefit-item, 
#booklets .booklet-item {
    right: 0;
    margin: 0 0 15px;
}

#benefits .benefit-item .benefit-link,
#booklets .booklet-item .booklet-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 338px;
}

#benefits .benefit-item .benefit-link .benefit-hover,
#booklets .booklet-item .booklet-link .booklet-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(94, 198, 200, .9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#benefits .benefit-item .benefit-link .benefit-hover:hover,
#booklets .booklet-item .booklet-link .booklet-hover:hover {
    opacity: 1;
}

#benefits .benefit-item .benefit-link .benefit-hover .benefit-hover-content,
#booklets .booklet-item .booklet-link .booklet-hover .booklet-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#benefits .benefit-item .benefit-link .benefit-hover .benefit-hover-content i,
#booklets .booklet-item .booklet-link .booklet-hover .booklet-hover-content i {
    margin-top: -12px;
}

#benefits .benefit-item .benefit-link .benefit-hover .benefit-hover-content h3,
#benefits .benefit-item .benefit-link .benefit-hover .benefit-hover-content h4,
#booklets .booklet-item .booklet-link .booklet-hover .booklet-hover-content h3,
#booklets .booklet-item .booklet-link .booklet-hover .booklet-hover-content h4 {
    margin: 0;
}

#benefits .benefit-item .benefit-caption,
#booklets .booklet-item .booklet-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 338px;
    height: 125px;
    text-align: center;
    background-color: #fff;
}

#benefits .benefit-item .benefit-caption h4,
#booklets .booklet-item .booklet-caption h4 {
    margin: 0;
    text-transform: none;
}

#benefits .benefit-item .benefit-caption p,
#booklets .booklet-item .booklet-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}

#benefits *,
#booklets * {
    z-index: 2;
}

@media(min-width:767px) {
    #benefits .benefit-item,
    #booklets .booklet-item {
        margin: 0 0 30px;
    }
}

.faq {
    padding: 0 18px;
    font-size: 1.8rem;
    text-align: justify;
}

.how-to {
    position: relative;
    padding: 0;
    list-style: none;
}

.how-to:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.how-to>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.how-to>li:before,
.how-to>li:after {
    content: " ";
    display: table;
}

.how-to>li:after {
    clear: both;
}

.how-to>li .how-to-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.how-to>li .how-to-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.how-to>li .how-to-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.how-to>li .how-to-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 90px;
    height: 90px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
}

.how-to>li .how-to-final {
  background-color: #5EC6C8;  
}

.how-to>li .how-to-image h4 {
    margin-top: 20px;
    font-size: 10px;
    line-height: 14px;
}

.how-to>li.how-to-inverted>.how-to-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.how-to>li.how-to-inverted>.how-to-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.how-to>li.how-to-inverted>.how-to-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.how-to>li:last-child {
    margin-bottom: 0;
}

.how-to .how-to-heading h4 {
    margin-top: 0;
    color: inherit;
}

.how-to .how-to-heading h4.subheading {
    text-transform: none;
}

.how-to .how-to-body>p,
.how-to .how-to-body>ul {
    margin-bottom: 0;
    text-align: justify;
}

@media(min-width:768px) {
    .how-to:before {
        left: 50%;
    }

    .how-to>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .how-to>li .how-to-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .how-to>li .how-to-image {
        left: 50%;
        width: 120px;
        height: 120px;
        margin-left: -50px;
    }

    .how-to>li .how-to-image h4 {
        margin-top: 24px;
        font-size: 13px;
        line-height: 18px;
    }

    .how-to>li.how-to-inverted>.how-to-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .how-to>li {
        min-height: 150px;
    }

    .how-to>li .how-to-panel {
        padding: 0 20px 20px;
    }

    .how-to>li .how-to-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .how-to>li .how-to-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .how-to>li.how-to-inverted>.how-to-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .how-to>li {
        min-height: 170px;
    }

    .how-to>li .how-to-panel {
        padding: 0 20px 20px 100px;
    }

    .how-to>li .how-to-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .how-to>li .how-to-image h4 {
        margin-top: 40px;
    }

    .how-to>li.how-to-inverted>.how-to-panel {
        padding: 0 100px 20px 20px;
    }
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

aside.clients img {
    margin: 50px auto;
}

.branches {
  margin-bottom: 3.5em;
}

section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .text-muted {
    color: #bfbfbf;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #5EC6C8;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #5EC6C8;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.benefit-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.benefit-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.benefit-modal .modal-content p {
    margin-bottom: 12px;
}

.benefit-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.benefit-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.benefit-modal .modal-content img {
    margin-bottom: 30px;
}

.benefit-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.benefit-modal .close-modal:hover {
    opacity: .3;
}

.benefit-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.benefit-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.benefit-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #5EC6C8;
}

::selection {
    text-shadow: none;
    background: #5EC6C8;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #5EC6C8;
}

.modal-body > p {
    margin-top: 12px;
    font-size: 1.8rem;
    text-align: justify;
}

.modal-body > h4 {
    display: flex;
    margin-top: 48px;
}

.left-list.general-advantages {
    padding: 0 18px;
    margin-top: 48px;
}

.left-list.condo-advantages {
    padding: 0 18px;
    margin-top: 12px;
}

.left-list.credit-recovery {
    padding: 0 18px;
}

.left-list {
    text-align: left;
}

.left-list > li {
    font-size: 1.7rem;
}

.logo-instagram {
    width: 40px;
}

.logo-facebook {
    width: 40px;
}

@media(max-width: 767px) {
    .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #f7f7f7;
        border-color: #f7f7f7;
    }

    .navbar-default .nav li a, .navbar-default .navbar-brand, .navbar-default .navbar-brand:focus {
        color: #f7f7f7;
    }
}

@media(min-width: 1200px) {
    .navbar-default .navbar-brand-mini, .navbar-default .navbar-brand-mini:focus {
        display: none;
    }
}

@media(min-width: 768px) and (max-width: 1199px) {
    .navbar-default .navbar-brand-mini, .navbar-default .navbar-brand-mini:focus {
        display: inline-block;
    }

    .navbar-default .navbar-brand, .navbar-default .navbar-brand:focus {
        display: none;
    }
}